.ismobile body {
    padding-bottom: 0;
    background: #fff;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.ismobile body #content {
    padding: 0;
}

.ismobile .preloader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ismobile .no-data-container{
    text-align: center;
}

.ismobile .no-data-container .no-data-image {
    background: url(../img/no-data.png) center center no-repeat;
    height: 128px;
    margin-top: 25%;
    margin-bottom: 20px;
}

.ismobile .no-data-container .no-data-label {
    font-size: 20px;
}

/* CATALOG PAGE */

.ismobile .page-header {
    position: fixed;
    padding: 18px;
    margin: 0;
    top: 65px;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 53px;
    background: rgb(245, 245, 245);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border: none;
}

.ismobile .page-header h2 {
    margin: 0;
    line-height: 100%;
    font-size: 17px;
    font-weight: 400;
}

.ismobile .page-header .actions {
    position: absolute;
    right: 10px;
    top: 13px;
}

.ismobile .page-header .actions.left {
    position: absolute;
    left: 10px;
    top: 13px;
}

.ismobile .page-header .btn-float {
    right: 25px;
    bottom: -23px;
}

.ismobile .page-header.page-header-dashboard {
    height: auto;
    box-shadow: none;
}

.ismobile .page-body {
    padding: 73px 0 20px 0;
}

.ismobile .page-body.page-body-dashboard {
    padding-top: 60px;
}

.ismobile .count-block {
    position: fixed;
    bottom: 7px;
    left: 7px;
    background: #009485;
    background: rgba(0, 148, 133, 0.7);
    color: white;
    border-radius: 15px;
    padding: 3px 10px;
    font-size: 11px;
}

.ismobile .date-toolbar {
    padding: 0 20px;
    text-align: center;
    position: relative;
}

.ismobile .date-toolbar h2 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #009688;
    margin: 0;
    display: inline-block;
    height: 25px;
}

.ismobile .date-toolbar .dt-btn {
    border: 0;
    background: transparent;
    padding: 0;
    outline: none !important;
    text-align: center;
    width: 50px;
    height: 25px;
    border-radius: 50%;
    color: #009688;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    cursor: pointer;
}

.ismobile .date-toolbar .dt-btn .zmdi {
    font-size: 24px;
    vertical-align: -15%;
}

.ismobile .date-toolbar .dt-actions {
    position: absolute;
    right: 10px;
    top: -4px;
    color: #009688;
}

.ismobile .date-toolbar .dt-actions > li > a > i {
    color: #009688;
}

.ismobile .date-toolbar .dt-actions > li > a > i:hover {
    color: #009688;
}

.ismobile .date-toolbar .dt-actions > li.open > a > i {
    color: #009688;
}

.ismobile .balance-dashboard {
    padding: 0 20px 20px 20px;
}

.ismobile .balance-dashboard ul {
    list-style: none;
}

.ismobile .balance-dashboard li {
    padding: 15px 0;
    display: block;
    position: relative;
    width: 100%;
    float: left;
    border-top: 1px solid #f0f0f0;
}

.ismobile .balance-dashboard li:first-child {
    padding-top: 0;
}

.ismobile .balance-dashboard li .bd-title {
    float: left;
}

.ismobile .balance-dashboard li .bd-amount {
    float: right;
}

.ismobile .balance-dashboard li .bd-amount > span {
    text-align: right;
    display: block;
}

.ismobile .balance-dashboard .bd-total {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #009688;
}

.ismobile .balance-dashboard .bd-subtotal {
    font-size: 15px;
    font-weight: 700;
    padding: 10px 0;
}

.ismobile .balance-dashboard .bd-account {
    font-size: 14px;
}

.ismobile .balance-dashboard .bd-account .bd-amount a {
    border-bottom: 1px dotted;
    color: #009688;
}




