<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie9 no-focus c-overflow" data-ng-app="app"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-focus c-overflow" data-ng-app="app"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title data-ng-bind="pageTitle">Загрузка...</title>

    <meta name="description" content="MOCO - Money Control">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Manifest for using webapp separate from browser on mobile-->
    <link rel="manifest" href="manifest.json">
    <!-- END Manifest-->

    <!-- Icons -->
    <link rel="icon" sizes="128x128" href="assets/img/favicons/icon-128x128.png">
    <!-- END Icons -->

    <!-- Stylesheets -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="assets/css/loading-bar.css">
    <link rel="stylesheet" href="assets/css/sweetalert.css">
    <link rel="stylesheet" href="assets/css/farbtastic.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/air-datepicker.css">

    <link rel="stylesheet" href="assets/css/site.css">
    <link rel="stylesheet" href="assets/css/site-mobile.css">
    <!-- END Stylesheets -->

    <script src="env.js"></script>

</head>
<body data-ng-controller="AppCtrl" class="sw-toggled" data-on-swipe-right="sidebar.swipeIn()"
      data-on-swipe-left="sidebar.swipeOut()">

<div class="wrapper">

    <!-- Header -->
    <header data-ng-include="'assets/views/partials/base-header.html'"
            id="header" class="bgm-teal" data-ng-class="{ 'search-toggled': headerMenu.searchPanel.opened }"></header>

    <section id="main">

        <!--Sidebar -->
        <aside data-ng-include="'assets/views/partials/base-sidebar.html'"
               id="sidebar" data-ng-class="{ 'toggled': sidebar.opened }"></aside>

        <!-- Main Container -->
        <section id="content">
            <div class="container" data-ui-view></div>
        </section>

    </section>

</div>

<div id="view-loader" class="background-overlay" data-view-loader></div>
<div class="background-overlay" data-ng-if="sidebar.showOverlayOnOpened()" data-ng-click="sidebar.close()"
     data-on-swipe-right="sidebar.swipeIn()" data-on-swipe-left="sidebar.swipeOut()"></div>

<ng-include src="'assets/views/partials/balance/edit-form.html'"></ng-include>
<ng-include src="'assets/views/partials/transactions/edit-form.html'"></ng-include>
<ng-include src="'assets/views/partials/transactions/import-form.html'"></ng-include>

<!-- JS Code -->
<!-- build:js assets/js/app.min.js -->
<!-- Core JS: jQuery & Bootstrap Related -->
<script src="assets/js/plugins/jquery.min.js"></script>
<script src="assets/js/plugins/jquery.mobile.swipe.min.js"></script>
<script src="assets/js/plugins/jquery.nicescroll.min.js"></script>
<script src="assets/js/plugins/jquery.noty.js"></script>
<script src="assets/js/plugins/jquery.number.js"></script>
<script src="assets/js/plugins/waves.min.js"></script>
<script src="assets/js/plugins/sweetalert.min.js"></script>
<script src="assets/js/plugins/math.min.js"></script>
<script src="assets/js/plugins/moment.min.js"></script>
<script src="assets/js/plugins/moment-interval.js"></script>
<script src="assets/js/plugins/moment.locale.ru.js"></script>
<script src="assets/js/plugins/highcharts/highcharts.js"></script>
<script src="assets/js/plugins/highcharts/modules/data.js"></script>
<script src="assets/js/plugins/highcharts/modules/drilldown.js"></script>
<script src="assets/js/plugins/autoresize.jquery.js"></script>
<script src="assets/js/plugins/jquery.magnific-popup.js"></script>
<script src="assets/js/plugins/air-datepicker/datepicker.js"></script>
<script src="assets/js/plugins/input-mask.min.js"></script>

<!-- Core JS: AngularJS Related -->
<script src="assets/js/core/angular.min.js"></script>
<script src="assets/js/core/angular-ui-router.min.js"></script>
<script src="assets/js/core/angular-messages.min.js"></script>
<script src="assets/js/core/ngStorage.min.js"></script>
<script src="assets/js/core/loading-bar.js"></script>
<script src="assets/js/core/ui-bootstrap-tpls.min.js"></script>
<script src="assets/js/core/angular-chosen.js"></script>
<script src="assets/js/core/angular-farbtastic.js"></script>
<script src="assets/js/core/ng-infinite-scroll.js"></script>
<script src="assets/js/core/contextMenu.js"></script>

<!-- Core JS: App Related -->
<script src="assets/js/modules/auth.js"></script>
<script src="assets/js/modules/profile.js"></script>
<script src="assets/js/modules/balance.js"></script>
<script src="assets/js/modules/currency.js"></script>
<script src="assets/js/modules/category.js"></script>
<script src="assets/js/modules/account.js"></script>
<script src="assets/js/modules/transaction.js"></script>
<script src="assets/js/modules/analytics.js"></script>
<script src="assets/js/modules/import.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/config.js"></script>
<script src="assets/js/services.js"></script>
<script src="assets/js/filters.js"></script>
<script src="assets/js/directives.js"></script>
<script src="assets/js/controllers/app.js"></script>
<script src="assets/js/controllers/dashboard.js"></script>
<script src="assets/js/controllers/account.js"></script>
<script src="assets/js/controllers/category.js"></script>
<script src="assets/js/controllers/currency.js"></script>
<script src="assets/js/controllers/settings.js"></script>
<script src="assets/js/controllers/template.js"></script>
<script src="assets/js/controllers/transactionList.js"></script>
<!-- /build -->
</body>
</html>
