<div class="card" data-fixed-on-scroll="">
    <div class="card-header">
        <h2 data-ng-if="scope.account.isNew()">Создание счета</h2>

        <h2 data-ng-if="!scope.account.isNew()">{{scope.account.name}}</h2>
        <ul class="actions">
            <li data-ng-if="!scope.account.isNew()" uib-tooltip="Удалить">
                <a href="" data-ng-click="scope.account.delete()">
                    <i class="zmdi zmdi-delete"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body card-padding">

        <form id="form" name="form" data-ng-submit="scope.account.save()"
              data-autofocus="{{scope.account.isNew()}}">

            <!--NAME-->
            <div class="form-group fg-line">
                <label>Название</label>
                <input type="text" class="form-control input-sm autofocus" data-ng-model="scope.account.name"
                       name="name" placeholder="Название" data-ng-maxlength="255" required>
            </div>

            <div class="has-error">
                <div data-ng-messages="form.name.$error" data-ng-if="form.name.$dirty"
                     class="help-block animated fadeInDown">
                    <ng-messages-include
                            src="assets/views/partials/error-messages.html"></ng-messages-include>
                </div>
            </div>
            <!--end NAME-->

            <!--COLOR-->
            <div class="form-group fg-line">
                <label>Цвет</label>
                <div class="color-container" data-ng-click="scope.colorpicker.open()"
                     data-ng-style="{ 'background-color': scope.account.color }"></div>
            </div>
            <!--end COLOR-->

            <!--ACTIVE-->
            <div class="form-group">
                <div class="toggle-switch">
                    <label for="active" class="ts-label">Отображать</label>
                    <input id="active" type="checkbox" hidden="hidden" data-ng-model="scope.account.active">
                    <label for="active" class="ts-helper pull-right"></label>
                </div>
            </div>
            <!--end ACTIVE-->

            <div class="has-error">
                <div data-ng-repeat="error in scope.account.errors">
                    <div class="help-block">{{error.message}}</div>
                </div>
            </div>

        </form>

        <!-- CURRENCIES-->
        <div><label>Валюты</label></div>

        <div class="d-inline-block p-r-15" data-ng-repeat="currencyData in scope.account.currencies">
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="checker select-box"
                           data-ng-model="currencyData.used">
                    <i class="input-helper"></i>
                    {{currencyData.currency.name}} ({{currencyData.currency.symbol}})
                </label>
            </div>
        </div>
        <!-- end CURRENCIES-->

        <!--TRANSFER TRANSACTIONS-->
        <div data-ng-if="scope.account.countTrans > 0">
            <form name="transfer" data-ng-submit="scope.account.moveTransactionsToAccount()">
                <div class="form-group p-t-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="checker select-box"
                                   data-ng-model="scope.account.isTransfer">
                            <i class="input-helper"></i>
                            Перенести все операции ({{scope.account.countTrans}}) на счет
                        </label>
                    </div>
                </div>

                <div class="input-group" data-ng-if="scope.account.isTransfer">
                    <select class="form-control input-sm" data-chosen data-ng-model="scope.newAccount"
                            data-ng-options="account as account.name for account in scope.data">
                        <option value="">Не выбран...</option>
                    </select>

                    <span class="input-group-addon last">
                            <button type="submit" class="btn btn-link">ок</button>
                        </span>
                </div>
            </form>
        </div>
        <!--end TRANSFER TRANSACTIONS-->

        <div class="card-control-panel">
            <button class="btn bgm-teal btn-sm" type="submit" form="form"
                    data-ng-disabled="form.$invalid || scope.category.submitting">
                <span>Сохранить</span>
                <span data-ng-if="scope.category.submitting">
                    <i class="fa fa-sun-o icon-spin animated fadeIn"></i>
                </span>
            </button>
            <button class="btn btn-link btn-sm" data-ng-click="scope.category.editing = false">Отмена</button>
        </div>

    </div>
</div>