<div data-ng-if="global.isMobile()">
    <ng-include src="'assets/views/partials/accounts/mobile/header.html'"></ng-include>
    <ng-include src="'assets/views/partials/accounts/mobile/body.html'"></ng-include>
    <ng-include src="'assets/views/partials/accounts/mobile/edit-form.html'"></ng-include>
</div>

<div data-ng-if="!global.isMobile()">
    <ng-include src="'assets/views/partials/accounts/body.html'"></ng-include>
</div>

<ng-include src="'assets/views/partials/accounts/mobile/colorpicker-form.html'"></ng-include>
