<!-- Page Header -->
<div data-ui-page-header data-page-title="Настройки"
     data-breadcrumbs='{"dashboard" : "Главная", "activeCrumb" : "Настройки"}'></div>
<!-- END Page Header -->

<!-- Page Content -->
<section class="content">
    <div class="card" id="profile-main">

        <div class="clearfix">

            <ng-include src="'assets/views/partials/settings/interface.html'"></ng-include>
            <ng-include src="'assets/views/partials/settings/accounting.html'"></ng-include>

        </div>
    </div>
</section>
<!-- END Page Content -->