<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie9 no-focus" data-ng-app="app"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-focus" data-ng-app="app"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title data-ng-bind="pageTitle"></title>

    <meta name="description" content="MOCO - Money Control">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <!-- Icons -->
    <link rel="shortcut icon" href="assets/img/favicons/favicon.png">
    <!-- END Icons -->

    <!-- Stylesheets -->
    <!-- Web fonts -->
    <link rel="stylesheet"
          href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

    <!-- Bootstrap and OneUI CSS framework -->
    <link rel="stylesheet" id="css-bootstrap" href="assets/css/bootstrap.min.css">
    <!-- build:remove -->
    <link rel="stylesheet" id="css-main" href="assets/css/app.css">
    <link rel="stylesheet" id="css-theme" href="assets/css/themes/flat.min.css">
    <link rel="stylesheet" href="assets/js/plugins/lobibox-master/css/lobibox.css">
    <!-- /build -->

    <!-- build:template
    <link rel="stylesheet" id="css-main" href="assets/css/app.min.css">
    /build -->
    <!-- END Stylesheets -->
</head>
<body data-ng-controller="AppCtrl">
<!-- Page loader -->
<div id="page-loader"></div>


<!-- Page Container -->
<!-- You can update template settings or enable local storage feature in js/app.js -> 'AppCtrl' controller () -->
<div id="page-container" data-ng-controller="AuthCtrl" data-ng-class="{
            'sidebar-l': config.settings.sidebarLeft,
            'sidebar-r': ! config.settings.sidebarLeft,
            'sidebar-o': config.settings.sidebarOpen,
            'sidebar-o-xs': config.settings.sidebarOpenXs,
            'sidebar-mini': config.settings.sidebarMini,
            'side-overlay-o': config.settings.sideOverlayOpen,
            'side-overlay-hover': config.settings.sideOverlayHover,
            'side-scroll': config.settings.sideScroll,
            'header-navbar-fixed': config.settings.headerFixed,
            'not-authorized': !isAuthenticated()
        }">

    <!-- Sidebar -->
    <!--<nav data-ng-if="isAuthenticated()" data-ng-include="'assets/views/partials/base_sidebar.html'" data-ng-controller="SidebarCtrl"-->
         <!--id="sidebar"></nav>-->

    <!-- Header -->
    <header data-ng-if="isAuthenticated()" data-ng-include="'assets/views/partials/base_header.html'" data-ng-controller="HeaderCtrl"
            id="header-navbar" class="content-mini content-mini-full"></header>

    <!-- Main Container -->
    <main id="main-container" data-autoscroll="true" data-ui-view></main>

    <!-- Footer -->
    <footer data-ng-include="'assets/views/partials/base_footer.html'" id="page-footer"
            class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix"></footer>
</div>
<!-- END Page Container -->

<!-- JS Code -->
<!-- build:js assets/js/app.min.js -->
<!-- Core JS: jQuery & Bootstrap Related -->
<script src="assets/js/core/jquery.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/core/jquery.slimscroll.min.js"></script>
<script src="assets/js/core/jquery.scrollLock.min.js"></script>
<script src="assets/js/core/jquery.appear.min.js"></script>
<script src="assets/js/core/jquery.countTo.min.js"></script>
<script src="assets/js/core/jquery.placeholder.min.js"></script>
<script src="assets/js/plugins/lobibox-master/js/lobibox.js"></script>

<!-- Core JS: AngularJS Related -->
<script src="assets/js/core/angular.min.js"></script>
<script src="assets/js/core/angular-ui-router.min.js"></script>
<script src="assets/js/core/angular-ui-bootstrap-tpls.min.js"></script>
<script src="assets/js/core/angular-messages.min.js"></script>
<script src="assets/js/core/ocLazyLoad.min.js"></script>
<script src="assets/js/core/ngStorage.min.js"></script>

<!-- Core JS: App Related -->
<script src="assets/js/modules/auth.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/directives.js"></script>
<script src="assets/js/controllers.js"></script>
<!-- /build -->
</body>
</html>
