<div class="modal-backdrop" data-ng-if="importTransactions.opened">
    <div class="modal modal-wide">
        <div class="modal-header">
            <h2>Импорт операций</h2>
            <div class="date-picker-wrapper">
                <span>{{importTransactions.getDisplayDate()}}</span>
                <span class="zmdi zmdi-chevron-down"></span>
                <input id="import-transactions-date-picker" class="date-picker" type="text" date-picker name="date"
                       data-options="{position: 'bottom right'}"
                       data-ng-model="importTransactions.date"
                       data-on-change="importTransactions.fetch()">
            </div>
        </div>
        <div class="modal-body c-overflow">

            <table class="table">
                <thead>
                <tr>
                    <th width="3%"></th>
                    <th width="15%">Сумма</th>
                    <th width="22%">Счет</th>
                    <th width="22%">Категория</th>
                    <th>Комментарий</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="importTransaction in importTransactions.data">
                    <td class="p-r-0">
                        <i class="fa fa-check c-teal" data-ng-if="importTransaction.category"></i>
                        <i class="fa fa-exclamation-circle c-red" data-ng-if="!importTransaction.amount"></i>
                    </td>
                    <td>
                        <span class="c-green" data-ng-if="importTransaction.type === 'income'">
                            +{{importTransaction.amount}} {{importTransaction.currency.symbol}}
                        </span>
                        <span class="c-deeporange" data-ng-if="importTransaction.type === 'expense'">
                            -{{importTransaction.amount}} {{importTransaction.currency.symbol}}
                        </span>
                        <span class="c-gray f-11" data-ng-if="importTransaction.currencyOriginal">
                            {{importTransaction.amountOriginal}} {{importTransaction.currencyOriginal}}
                        </span>
                    </td>
                    <td>{{importTransaction.account.name}}</td>
                    <td>
                        <select class="form-control input-sm" name="category"
                                data-ng-model="importTransaction.category"
                                data-ng-options="category as category.name for category in (global.categories | filterActive)">
                            <option value=""></option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm"
                               data-ng-model="importTransaction.comment"
                               name="comment" placeholder="Примечание">
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="text-center p-t-10 p-b-10" data-ng-if="importTransactions.loading">
                <ng-include src="'assets/views/partials/loaders/loading.html'"></ng-include>
            </div>
            <div class="text-center p-t-10 p-b-10 has-error" data-ng-if="importTransactions.error">
                <div>Произошла ошибка...</div>
                <button class="btn bgm-teal btn-sm m-t-10" data-ng-click="importTransactions.fetch()">Повторить
                </button>
            </div>
            <div class="text-center p-t-10 p-b-10"
                 data-ng-if="importTransactions.data.length === 0 && !(importTransactions.loading || importTransactions.error)">
                <div>Нет данных</div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn bgm-teal btn-sm" data-ng-click="importTransactions.submit()"
                    data-ng-disabled="importTransactions.submitting || importTransactions.loading || !importTransactions.canSubmit()">
                <span>Импортировать</span>
                <span data-ng-if="importTransactions.submitting">
                    <i class="fa fa-sun-o icon-spin animated fadeIn"></i>
                </span>
            </button>
            <button class="btn btn-link btn-sm" data-ng-click="importTransactions.close()">Отмена</button>
        </div>
    </div>
</div>