<div class="card" data-fixed-on-scroll="">
    <div class="card-header">
        <h2 data-ng-if="scope.category.isNew()">Создание категории размеров</h2>

        <h2 data-ng-if="!scope.category.isNew()">{{scope.category.name}}</h2>

        <ul class="actions">
            <li data-ng-if="!scope.category.isNew()" uib-tooltip="Удалить">
                <a href="" data-ng-click="scope.category.delete()">
                    <i class="zmdi zmdi-delete"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body card-padding">

        <form id="form" name="form" data-ng-submit="scope.category.save()"
              data-autofocus="{{scope.category.isNew()}}">

            <!--NAME-->
            <div class="form-group fg-line">
                <label>Название</label>
                <input type="text" class="form-control input-sm autofocus" data-ng-model="scope.category.name"
                       name="name" placeholder="Название" data-ng-maxlength="255" required>
            </div>

            <div class="has-error">
                <div data-ng-messages="form.name.$error" data-ng-if="form.name.$dirty"
                     class="help-block animated fadeInDown">
                    <ng-messages-include
                            src="assets/views/partials/error-messages.html"></ng-messages-include>
                </div>
            </div>
            <!--end NAME-->

            <!--SIZES-->
            <label class="m-t-15">Размеры</label>
            <div class="form-group">
                <span data-ng-repeat="size in scope.category.sizes" class="m-r-15"
                      data-ng-click="scope.size.edit(size)">
                    <span data-ng-if="!size.editing" class="btn btn-default m-t-15">{{size.name}}</span>
                <span data-ng-if="size.editing" class="btn btn-default m-t-15">
                    <input type="text" data-ng-model="size.name">
                    <ul class="actions">
                        <li data-ng-if="!scope.category.isNew()" uib-tooltip="Удалить">
                            <a href="" data-ng-click="scope.category.delete()">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                        </li>
                    </ul>
                </span>
                </span>
                <button class="btn bgm-teal btn-icon-text m-t-15">
                    <span class="zmdi zmdi-plus"></span>
                </button>
            </div>
            <!--end SIZES-->

            <div class="has-error">
                <div data-ng-repeat="error in scope.category.errors">
                    <div class="help-block">{{error.message}}</div>
                </div>
            </div>

        </form>

        <div class="card-control-panel">
            <button class="btn bgm-teal btn-sm" type="submit" form="form"
                    data-ng-disabled="form.$invalid || scope.category.submitting">
                <span>Сохранить</span>
                <span data-ng-if="scope.category.submitting">
                    <i class="fa fa-sun-o icon-spin animated fadeIn"></i>
                </span>
            </button>
            <button class="btn btn-link btn-sm" data-ng-click="scope.cancelEditing()">Отмена</button>
        </div>

    </div>
</div>