<ul class="header-inner">
    <li id="menu-trigger" data-trigger="#sidebar">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
        </div>
    </li>

    <li class="logo hidden-xs">
        <?= Html::a("Family Budget", Url::home()) ?>
    </li>

    <li class="pull-right">
        <ul class="top-menu">
            <li id="toggle-width">
                <div class="toggle-switch">
                    <input id="tw-switch" type="checkbox" hidden="hidden">
                    <label for="tw-switch" class="ts-helper"></label>
                </div>
            </li>
            <li id="top-search">
                <a class="tm-search" href=""></a>
            </li>
            <li class="hidden-xs">
                <?= Html::a("", Url::home(), ['class' => 'tm-message']) ?>
            </li>
            <li class="hidden-xs">
                <?= Html::a("", Url::home(), ['class' => 'tm-team']) ?>
            </li>
            <li class="dropdown hidden-xs">
                <a data-toggle="dropdown" class="tm-notification" href=""><i class="tmn-counts">9</i></a>

                <div class="dropdown-menu dropdown-menu-lg pull-right">
                    <div class="listview <?php if (count($notifications) === 0) {
                                echo 'empty';
                            } ?>" id="notifications">
                        <div class="lv-header">
                            Обновления

                            <?php if (count($notifications) > 0): ?>
                            <ul class="actions">
                                <li class="dropdown">
                                    <a href="" data-clear="notification">
                                        <i class="zmdi zmdi-check-all"></i>
                                    </a>
                                </li>
                            </ul>
                            <?php endif ?>
                        </div>
                        <div class="lv-body">
                            <?php foreach ($notifications as $notification): ?>
                            <a class="lv-item" href="<?= Url::home() ?>">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="lv-title" title="<?= $notification['title'] ?>">
                                            <?= $notification['title'] ?>
                                        </div>
                                        <small class="lv-small"><?= $notification['date'] ?></small>
                                    </div>
                                </div>
                            </a>
                            <?php endforeach; ?>
                        </div>

                        <?= Html::a("Посмотреть все", Url::home(), ['class' => 'lv-footer']) ?>
                    </div>

                </div>
            </li>
            <li>
                <?= Html::a("", Url::toRoute(['auth/logout']), [
                            'class' => 'tm-logout',
                'data-method' => 'post',
                ]) ?>
            </li>
    </li>
</ul>

<!-- Top Search Content -->
<div id="top-search-wrap" class="bgm-teal">
    <form action="/transaction/index" method="get">
        <input type="text" name="q">
    </form>
    <i id="top-search-close">&times;</i>
</div>

<!--&lt;!&ndash; Header Navigation Right &ndash;&gt;-->
<!--<ul class="nav-header pull-right">-->
    <!--<li>-->
        <!--<div class="btn-group" data-on-toggle="toggled(open)" data-uib-dropdown>-->
            <!--<button class="btn btn-default" type="button" data-uib-dropdown-toggle>-->
                <!--<i class="si si-user"></i>-->
                <!--<span class="caret"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu-right" data-uib-dropdown-menu>-->
                <!--<li>-->
                    <!--<a tabindex="-1" href="javascript:void(0)">-->
                        <!--<i class="fa fa-gears pull-right"></i>Настройки-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="divider"></li>-->
                <!--<li data-ng-controller="LogoutCtrl">-->
                    <!--<a tabindex="-1" data-ng-click="logout()">-->
                        <!--<i class="fa fa-power-off pull-right"></i>Выйти-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</li>-->
<!--</ul>-->
<!--&lt;!&ndash; END Header Navigation Right &ndash;&gt;-->

<!--&lt;!&ndash; Header Navigation Left &ndash;&gt;-->
<!--<ul class="nav-header pull-left">-->
    <!--<li class="hidden-md hidden-lg">-->
        <!--<button class="btn btn-default" type="button" data-ng-click="config.settings.sidebarOpenXs = ! config.settings.sidebarOpenXs" data-js-blur>-->
            <!--<i class="fa fa-navicon"></i>-->
        <!--</button>-->
    <!--</li>-->
    <!--<li class="hidden-xs hidden-sm">-->
        <!--<button class="btn btn-default" type="button" data-ng-click="config.settings.sidebarMini = ! config.settings.sidebarMini" data-js-blur>-->
            <!--<i class="fa fa-navicon"></i>-->
        <!--</button>-->
    <!--</li>-->
    <!--<li class="visible-xs">-->
        <!--&lt;!&ndash; Toggle class helper (data-js-toggle-class attribute is initialized in js/directives.js) &ndash;&gt;-->
        <!--<button class="btn btn-default" type="button" data-js-toggle-class="{target: '.js-header-search', class: 'header-search-xs-visible'}" data-js-blur>-->
            <!--<i class="fa fa-search"></i>-->
        <!--</button>-->
    <!--</li>-->
    <!--<li class="js-header-search header-search">-->
        <!--<form class="form-horizontal" action="index.html" method="post">-->
            <!--<div class="form-material form-material-primary input-group remove-margin-t remove-margin-b">-->
                <!--<input class="form-control" type="text" id="base-material-text" name="base-material-text" placeholder="Поиск..">-->
                <!--<span class="input-group-addon"><i class="si si-magnifier"></i></span>-->
            <!--</div>-->
        <!--</form>-->
    <!--</li>-->
    <!--&lt;!&ndash; View loader (data-js-view-loader attribute is initialized in js/directives.js) &ndash;&gt;-->
    <!--<span data-js-view-loader></span>-->
<!--</ul>-->
<!--&lt;!&ndash; END Header Navigation Left &ndash;&gt;-->
