<div class="card card-balance" data-fixed-on-scroll="">
    <div class="card-header">
        <h2 class="f-700 c-teal">
            Баланс
            <span class="pull-right m-t-0">
                {{balance.amount | number:0}} {{profile.data.currency.symbol}}
            </span>
        </h2>
    </div>
    <div class="card-body">
        <table class="table table-inner table-vmiddle">

            <tbody data-ng-if="balance.amountInMainCurrency !== 0">
            <tr class="f-700 bgm-teal c-white">
                <td>В основной валюте</td>
                <td class="text-right">
                    {{balance.amountInMainCurrency | number:0}}
                    {{profile.data.currency.symbol}}
                </td>
            </tr>
            </tbody>

            <tbody data-ng-repeat="item in balance.data">
            <tr data-ng-repeat="itemCurrency in item.currencies"
                data-ng-if="itemCurrency.amount != 0 && profile.isMainCurrency(itemCurrency.currency)">
                <td>{{item.account.name}}</td>
                <td class="text-right">
                    <a href=""
                       data-ng-click="balance.adjustment.open(item.account, itemCurrency.currency, itemCurrency.amount)">
                        <span class="balance-amount">{{itemCurrency.amount | number:0}}</span>
                    </a>
                    <span class="balance-currency">{{itemCurrency.currency.symbol}}</span>
                </td>
            </tr>
            </tbody>

            <tbody data-ng-if="balance.amountInOtherCurrency !== 0">
            <tr class="f-700 bgm-teal c-white">
                <td>В других валютах</td>
                <td class="text-right">
                    {{balance.amountInOtherCurrency | number:0}}
                    {{profile.data.currency.symbol}}
                </td>
            </tr>
            </tbody>

            <tbody data-ng-repeat="item in balance.data">
            <tr data-ng-repeat="itemCurrency in item.currencies"
                data-ng-if="itemCurrency.amount != 0 && !profile.isMainCurrency(itemCurrency.currency)">
                <td>{{item.account.name}}</td>
                <td class="text-right">
                    <a href=""
                       data-ng-click="balance.adjustment.open(item.account, itemCurrency.currency, itemCurrency.amount)">
                        <span class="balance-amount">{{itemCurrency.amount | number:0}}</span>
                    </a>
                    <span class="balance-currency">{{itemCurrency.currency.symbol}}</span>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="text-center p-t-5 p-b-10" data-ng-if="balance.loading">
            <ng-include src="'assets/views/partials/loaders/loading.html'"></ng-include>
        </div>
        <div class="text-center has-error" data-ng-if="balance.error">
            <div>Произошла ошибка...</div>
            <button class="btn bgm-teal btn-sm m-t-10" data-ng-click="balance.update()">Повторить</button>
        </div>

    </div>
</div>