<div class="row">

    <div class="col-sm-4">
        <div class="card card-widget">
            <div class="card-header">
                <h2 class="f-700 c-teal">Доходы</h2>
                <ul class="actions">
                    <li>
                        <a href="" uib-tooltip="Новый доход" data-ng-click="transaction.edit('income')"><i
                                class="zmdi zmdi-plus"></i></a>
                    </li>
                </ul>
            </div>

            <div class="card-body" data-ng-if="!scope.widget.loading && !scope.widget.error">
                <h4>
                    {{scope.widget.income.amount | number:0}}
                    {{profile.data.currency.symbol}}
                </h4>
                <span>Общий доход</span>
                <span class="f-700 pull-right"
                      data-ng-class="{ 'c-green':scope.widget.income.isOk(), 'c-red':scope.widget.income.isBad() }">
                    <i class="fa"
                       data-ng-class="{ 'fa-caret-up':scope.widget.income.isOk(), 'fa-caret-down':scope.widget.income.isBad() }"> </i>
                       {{scope.widget.income.getDisplayDynamics() | number:0}}%
                </span>
            </div>

            <div class="card-body" data-ng-if="scope.widget.loading">
                <div class="text-center">
                    <ng-include src="'assets/views/partials/loaders/loading-only-preloader.html'"></ng-include>
                </div>
            </div>

            <div class="card-body" data-ng-if="scope.widget.error">
                <div class="text-center has-error">
                    <div>Произошла ошибка...</div>
                    <button class="btn bgm-teal btn-sm m-t-10" data-ng-click="scope.widget.update()">Повторить
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card card-widget">
            <div class="card-header">
                <h2 class="f-700 c-teal">Расходы</h2>
                <ul class="actions">
                    <li>
                        <a href="" uib-tooltip="Новый расход" data-ng-click="transaction.edit('expense')"><i
                                class="zmdi zmdi-plus"></i></a>
                    </li>
                </ul>
            </div>

            <div class="card-body" data-ng-if="!scope.widget.loading && !scope.widget.error">
                <h4>
                    {{scope.widget.expense.amount | number:0}}
                    {{profile.data.currency.symbol}}
                </h4>
                <span>Общий расход</span>
                <span class="f-700 pull-right"
                      data-ng-class="{ 'c-green':scope.widget.expense.isOk(), 'c-red':scope.widget.expense.isBad() }">
                    <i class="fa"
                       data-ng-class="{ 'fa-caret-down':scope.widget.expense.isOk(), 'fa-caret-up':scope.widget.expense.isBad() }"> </i>
                       {{scope.widget.expense.getDisplayDynamics() | number:0}}%
                </span>
            </div>

            <div class="card-body" data-ng-if="scope.widget.loading">
                <div class="text-center">
                    <ng-include src="'assets/views/partials/loaders/loading-only-preloader.html'"></ng-include>
                </div>
            </div>

            <div class="card-body" data-ng-if="scope.widget.error">
                <div class="text-center has-error">
                    <div>Произошла ошибка...</div>
                    <button class="btn bgm-teal btn-sm m-t-10" data-ng-click="scope.widget.update()">Повторить
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card card-widget">
            <div class="card-header">
                <h2 class="f-700 c-teal">Прибыль</h2>
            </div>

            <div class="card-body" data-ng-if="!scope.widget.loading && !scope.widget.error">
                <h4>
                    {{scope.widget.profit.amount | number:0}}
                    {{profile.data.currency.symbol}}
                </h4>
                <span>{{scope.widget.profit.getTitle()}}</span>
                <span class="f-700 pull-right"
                      data-ng-class="{ 'c-green':scope.widget.profit.isOk(), 'c-red':scope.widget.profit.isBad() }">
                    <i class="fa"
                       data-ng-class="{ 'fa-caret-up':scope.widget.profit.isOk(), 'fa-caret-down':scope.widget.profit.isBad() }"> </i>
                    {{scope.widget.profit.dynamics | number:0}}
                    {{profile.data.currency.symbol}}
                </span>
            </div>

            <div class="card-body" data-ng-if="scope.widget.loading">
                <div class="text-center">
                    <ng-include src="'assets/views/partials/loaders/loading-only-preloader.html'"></ng-include>
                </div>
            </div>

            <div class="card-body" data-ng-if="scope.widget.error">
                <div class="text-center has-error">
                    <div>Произошла ошибка...</div>
                    <button class="btn bgm-teal btn-sm m-t-10" data-ng-click="scope.widget.update()">Повторить
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>