<div class="page-header">
    <h2 class="dropdown" uib-dropdown>
        <span uib-dropdown-toggle>
            Счета
            <span class="caret"></span>
        </span>
        <ul class="dropdown-menu">
            <li>
                <a href="" data-ng-click="scope.edit()"><i class="zmdi zmdi-plus zmdi-hc-lg"></i> Добавить</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="" data-ng-click="scope.update()"><i class="zmdi zmdi-refresh zmdi-hc-lg"></i> Обновить</a>
            </li>
        </ul>
    </h2>

    <button class="btn bgm-teal btn-float waves-effect waves-circle" data-ng-click="scope.edit()">
        <i class="zmdi zmdi-plus"></i>
    </button>
</div>
