<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-12">
            <h1 class="page-heading">
                В разработке
                <small>Эта часть приложения находится в процессе разработки</small>
            </h1>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content text-center">
    <div class="h1 font-w300 text-primary push-50-t push-10 animated fadeIn">
        <image src="assets/img/loaders/gears.gif"></image>
    </div>
</div>
<!-- END Page Content -->