<div class="circular-menu" data-ng-if="global.isMobile()">
    <ul data-ng-class="{ 'main-open' : circularMenu.opened }">
        <li>
            <a class="btn btn-float m-btn btn-success btn-1">
                <i class="zmdi zmdi-plus"></i>
            </a>
        </li>
        <li>
            <a class="btn btn-float m-btn btn-warning btn-2">
                <i class="zmdi zmdi-minus"></i>
            </a>
        </li>
        <li>
            <a class="btn btn-float m-btn btn-primary btn-3">
                <i class="zmdi zmdi-swap"></i>
            </a>
        </li>
    </ul>
    <button class="btn btn-float bgm-teal m-btn trigger" data-ng-click="circularMenu.toggle()">
        <i class="zmdi zmdi-plus"></i>
    </button>
</div>