<!-- Side Overlay Scroll Container -->
<div id="side-overlay-scroll">
    <!-- Side Header -->
    <div class="side-header side-content">
        <button class="btn btn-link text-gray-dark pull-right remove-padding" type="button" data-ng-click="moco.settings.sideOverlayOpen = false" data-js-blur>
            <i class="si si-arrow-right fa-2x"></i>
        </button>
        <span>
            <span class="font-w600">George Stone</span>
        </span>
    </div>
    <!-- END Side Header -->

</div>
<!-- END Side Overlay Scroll Container -->
