<div class="page-body">
    <div class="listview">
        <a class="lv-item" href="" data-ng-repeat="category in scope.data"
           data-ng-click="scope.edit(category)">
            <div class="media">
                <div class="lv-avatar pull-left">
                    <i class="{{'fa ' + category.icon}}"></i>
                </div>
                <div class="media-body">
                    <div class="lv-title">
                        {{category.name}}
                        <i class="zmdi zmdi-eye-off" data-ng-if="!category.active"></i>
                    </div>
                    <small class="lv-small">Операций: {{category.countTrans}}</small>
                </div>
            </div>
        </a>
    </div>
    <div class="text-center" data-ng-if="scope.loading">
        <ng-include src="'assets/views/partials/loaders/loading.html'"></ng-include>
    </div>
    <div class="text-center has-error" data-ng-if="scope.error">
        <div>Произошла ошибка...</div>
        <button class="btn bgm-teal btn-sm m-t-10" data-ng-click="scope.update()">Повторить</button>
    </div>
</div>
