<div class="card">
    <div class="card-header">
        <button class="btn btn-sm bgm-white m-r-15" data-ng-click="scope.cancelEditing()" uib-tooltip="Назад в список">
            <i class="zmdi zmdi-long-arrow-left"></i>
        </button>
        <button class="btn btn-sm bgm-teal" data-ng-if="scope.order.isModified()"
                data-ng-click="scope.order.save()">Сохранить
        </button>
        <ul class="actions">
            <li data-ng-if="!scope.order.isNew()" uib-tooltip="Удалить">
                <a href="" data-ng-click="scope.order.delete()">
                    <i class="zmdi zmdi-delete"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="card-body card-padding">

        <div class="row">
            <div class="col-sm-3">
                <label>Номер</label>
                <div class="form-group fg-line">
                    <input type="text" class="form-control input-sm" placeholder="Номер заказа" name="number"
                           data-ng-model="scope.order.number" required>
                </div>
            </div>
            <div class="col-sm-3">
                <label>Дата</label>
                <div class="input-group">
                    <div class="fg-line">
                        <input type="text" date-picker class="form-control input-sm" placeholder="Дата заказа" name="date"
                               data-ng-model="scope.order.date" required>
                    </div>
                    <span class="input-group-addon last"><i class="zmdi zmdi-calendar"></i></span>
                </div>
            </div>
            <div class="col-sm-3">
                <label>Статус</label>
                <div class="form-group fg-line">
                    <select class="form-control input-sm" name="status"
                            data-ng-model="scope.order.status"
                            data-ng-options="status as status.name for status in scope.statuses track by status.id">
                    </select>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>

    </div>

</div>