<div class="card">
    <div class="card-header">
        <button class="btn btn-xs bgm-teal m-r-15 f-18" data-ng-click="scope.edit()">
            <i class="zmdi zmdi-plus p-l-5 p-r-5"></i>
        </button>
        <label class="card-header-filter">
            <select class="input-sm" data-ng-change="scope.update(true)" data-ng-model="scope.filter.items.status">
                <option value="actual">Актуальные</option>
                <option value="">Все</option>
                <option data-ng-repeat="status in scope.statuses" value="{{status.id}}">{{status.name}}</option>
            </select>
        </label>
        <label class="card-header-filter search m-l-15">
            <input type="search" class="input-sm" data-ng-change="scope.onSearchChange()"
                   ng-model-options="{debounce:1000}"
                   data-ng-model="scope.filter.items.q" placeholder="Введите номер заказа, телефон или фразу">
        </label>
        <span class="m-l-15" data-ng-if="scope.hasSelected()">
            <span>Отмечено: {{scope.getCountSelected()}}</span>
        </span>
        <ul class="actions">
            <li class="dropdown" dropdown data-ng-if="scope.hasSelected()" uib-tooltip="Изменить статус для отмеченных">
                <a href="" dropdown-toggle class="dropdown-toggle">
                    <i class="zmdi zmdi-flag"></i>
                </a>
                <ul class="dropdown-menu">
                    <li data-ng-repeat="status in scope.statuses">
                        <a href="" data-ng-click="scope.setStatusForSelected(status)">
                            <i class="{{status.icon}}"></i> {{status.name}}
                        </a>
                    </li>
                </ul>
            </li>
            <li data-ng-if="scope.hasSelected()" uib-tooltip="Удалить отмеченные">
                <a href="" data-ng-click="scope.deleteSelected()">
                    <i class="zmdi zmdi-delete"></i>
                </a>
            </li>
            <li uib-tooltip="Дополнительные фильтры">
                <a href="" data-ng-click="global.alertInDevelopment()">
                    <i class="zmdi zmdi-filter-list"></i>
                </a>
            </li>
            <li uib-tooltip="Обновить">
                <a href="" data-ng-click="scope.update(true)">
                    <i class="zmdi zmdi-refresh"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-data" data-infinite-scroll="scope.update()"
               data-infinite-scroll-disabled="scope.loading || scope.error || scope.endOfTable">
            <thead>
            <tr>
                <th width="20px">
                    <input type="checkbox" data-ng-checked="scope.hasSelected()"
                           data-ng-click="scope.toggleSelectedAll()">
                </th>
                <th width="50px" class="text-center f-17">
                    <i class="zmdi zmdi-flag"></i>
                </th>
                <th>Номер</th>
                <th>Дата</th>
                <th>Дней</th>
                <th>Источник</th>
                <th>Товар</th>
                <th>Сумма</th>
                <th>Прибыль</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="order in scope.data track by $index" context-menu="scope.contextMenuOptions(order)"
                data-ng-style="scope.getRowStyle(order)" data-ng-click="scope.edit(order)"
                data-ng-class="{'selected':order.selected}">
                <td>
                    <input type="checkbox" data-ng-click="$event.stopPropagation()"
                           data-ng-model="order.selected">
                </td>
                <td class="status-icon">
                    <i class="{{order.status.icon}}" data-ng-if="order.status.icon"></i>
                    <span data-ng-if="!order.status.icon">{{order.status.name.charAt(0)}}</span>
                </td>
                <td>{{order.number}}</td>
                <td>{{scope.getDisplayDate(order)}}</td>
                <td>{{scope.getDaysPassed(order)}}</td>
                <td>
                    <img class="column-icon m-r-5" data-ng-if="order.source && order.source.icon"
                         data-ng-src="{{order.source.icon.path}}">
                    {{scope.getDisplaySource(order)}}
                </td>
                <td>
                    <img class="column-icon m-r-5" data-ng-if="scope.getShopIcon(order)"
                         data-ng-src="{{scope.getShopIcon(order)}}">
                    {{scope.getDisplayProduct(order)}}
                </td>
                <td>{{scope.getAmount(order)|number}} грн</td>
                <td>{{scope.getProfitAmount(order)|number}} грн</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center p-t-10 p-b-10" data-ng-if="scope.loading">
        <ng-include src="'assets/views/partials/loaders/loading.html'"></ng-include>
    </div>
    <div class="text-center p-t-10 p-b-10 has-error" data-ng-if="scope.error">
        <div>Произошла ошибка...</div>
        <button class="btn bgm-teal btn-sm m-t-10" data-ng-click="scope.update()">Повторить</button>
    </div>
    <div class="text-center p-t-10 p-b-10"
         data-ng-if="scope.data.length === 0 && !(scope.loading || scope.error)">
        <span>Не найдено заказов</span>
    </div>

</div>