<div class="page-body">
    <div class="listview">
        <a class="lv-item" href="" data-ng-repeat="currency in scope.data"
           data-ng-click="scope.edit(currency)">
            <div class="media">
                <div class="lv-avatar pull-left">{{currency.symbol}}</div>
                <div class="media-body">
                    <div class="lv-title" data-ng-class="{ 'f-700' : scope.isMainCurrency(currency) }">
                        {{currency.name}}
                    </div>
                    <small class="lv-small">{{currency.rate.rate | number}}</small>
                </div>
            </div>
        </a>
    </div>
    <div class="text-center" data-ng-if="scope.loading">
        <ng-include src="'assets/views/partials/loaders/loading.html'"></ng-include>
    </div>
    <div class="text-center has-error" data-ng-if="scope.error">
        <div>Произошла ошибка...</div>
        <button class="btn bgm-teal btn-sm m-t-10" data-ng-click="scope.update()">Повторить</button>
    </div>
</div>
