<div class="card" data-fixed-on-scroll="">
    <div class="card-header">
        <h2 data-ng-if="scope.currency.isNew()">Создание валюты</h2>

        <h2 data-ng-if="!scope.currency.isNew()">{{scope.currency.name}}</h2>

        <ul class="actions">
            <li data-ng-if="!scope.isMainCurrency(scope.currency) && !scope.currency.isNew()"  uib-tooltip="Сделать основной">
                <a href="" data-ng-click="scope.currency.setAsMain()">
                    <i class="zmdi zmdi-star-outline"></i>
                </a>
            </li>
            <li class="disabled" data-ng-if="scope.isMainCurrency(scope.currency) && !scope.currency.isNew()">
                <a href="">
                    <i class="zmdi zmdi-star"></i>
                </a>
            </li>
            <li data-ng-if="!scope.currency.isNew() && !scope.currency.default" uib-tooltip="Удалить">
                <a href="" data-ng-click="scope.currency.delete()">
                    <i class="zmdi zmdi-delete"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body card-padding">

        <form id="form" name="form" data-ng-submit="scope.currency.save()"
              data-autofocus="{{scope.currency.isNew()}}">

            <!--NAME-->
            <div class="form-group fg-line">
                <label>Название</label>
                <input type="text" class="form-control input-sm autofocus" data-ng-model="scope.currency.name"
                       name="name" placeholder="Название" data-ng-maxlength="255" required
                       data-ng-disabled="scope.currency.default">
            </div>

            <div class="has-error">
                <div data-ng-messages="form.name.$error" data-ng-if="form.name.$dirty"
                     class="help-block animated fadeInDown">
                    <ng-messages-include
                            src="assets/views/partials/error-messages.html"></ng-messages-include>
                </div>
            </div>
            <!--end NAME-->

            <!--ISO-->
            <div class="form-group fg-line">
                <label>ISO</label>
                <input type="text" class="form-control input-sm" data-ng-model="scope.currency.iso"
                       name="iso" placeholder="ISO" data-ng-maxlength="3" required
                       data-ng-disabled="scope.currency.default">
            </div>

            <div class="has-error">
                <div data-ng-messages="form.iso.$error" data-ng-if="form.iso.$dirty"
                     class="help-block animated fadeInDown">
                    <ng-messages-include
                            src="assets/views/partials/error-messages.html"></ng-messages-include>
                </div>
            </div>
            <!--end ISO-->

            <!--SYMBOL-->
            <div class="form-group fg-line">
                <label>Символ</label>
                <input type="text" class="form-control input-sm" data-ng-model="scope.currency.symbol"
                       name="symbol" placeholder="Символ" data-ng-maxlength="1" required
                       data-ng-disabled="scope.currency.default">
            </div>

            <div class="has-error">
                <div data-ng-messages="form.symbol.$error" data-ng-if="form.symbol.$dirty"
                     class="help-block animated fadeInDown">
                    <ng-messages-include
                            src="assets/views/partials/error-messages.html"></ng-messages-include>
                </div>
            </div>
            <!--end SYMBOL-->

            <!--RATE-->
            <div class="form-group fg-line">
                <label>Курс</label>
                <input type="number" class="form-control input-sm" data-ng-model="scope.currency.rate.newRate"
                       name="rate" placeholder="0.0000" min="0.0001" step="0.0001" required
                       data-ng-disabled="scope.currency.default">
            </div>

            <div class="has-error">
                <div data-ng-messages="form.rate.$error" data-ng-if="form.rate.$dirty"
                     class="help-block animated fadeInDown">
                    <ng-messages-include
                            src="assets/views/partials/error-messages.html"></ng-messages-include>
                </div>
            </div>
            <!--end RATE-->

            <div class="has-error">
                <div data-ng-repeat="error in scope.currency.errors">
                    <div class="help-block">{{error.message}}</div>
                </div>
            </div>

        </form>

        <div class="card-control-panel">
            <button class="btn bgm-teal btn-sm" type="submit" form="form" data-ng-if="!scope.currency.default"
                    data-ng-disabled="form.$invalid || scope.currency.submitting">
                <span>Сохранить</span>
                <span data-ng-if="scope.currency.submitting">
                    <i class="fa fa-sun-o icon-spin animated fadeIn"></i>
                </span>
            </button>
            <button class="btn btn-link btn-sm" data-ng-if="!scope.currency.default"
                    data-ng-click="scope.cancelEditing()">Отмена
            </button>
        </div>

    </div>
</div>