<!-- Login Content -->
<div class="content overflow-hidden" data-ng-controller="LoginCtrl">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <!-- Login Block -->
            <div class="block block-themed animated fadeIn">
                <div class="block-header bg-primary">
                    <ul class="block-options">
                        <li>
                            <a href="/">Забыли пароль?</a>
                        </li>
                        <li>
                            <a data-ui-sref="signup" data-uib-tooltip="Создать аккаунт" data-tooltip-placement="left"><i
                                    class="fa fa-user-plus fa-lg"></i></a>
                        </li>
                    </ul>
                    <h3 class="block-title">Вход</h3>
                </div>
                <div class="block-content block-content-full block-content-narrow">
                    <!-- Login Title -->
                    <h1 class="h2 font-w600">Money Control</h1>

                    <p>Представьтесь, пожалуйста</p>
                    <!-- END Login Title -->

                    <!-- Login Form -->
                    <form class="form-horizontal push-30-t" name="form" data-ng-submit="login(user)">
                        <div data-ng-class="{'has-error': form.email.$invalid && form.email.$dirty}"
                             class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material form-material-primary floating">
                                    <input class="form-control" type="email" id="email" name="email"
                                           data-ng-model="user.email" data-ng-maxlength="255" required autofocus>
                                    <label for="email">Email</label>
                                </div>
                                <div data-ng-messages="form.email.$error" data-ng-if="form.email.$dirty"
                                     role="alert" class="help-block animated fadeInDown">
                                    <ng-messages-include
                                            src="assets/views/common/error_messages.html"></ng-messages-include>
                                </div>
                            </div>
                        </div>
                        <div data-ng-class="{'has-error': form.password.$invalid && form.password.$dirty}"
                             class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material form-material-primary floating">
                                    <input class="form-control" type="password" id="password" name="password"
                                           data-ng-model="user.password" data-ng-minlength="6" data-ng-maxlength="255"
                                           required>
                                    <label for="password">Пароль</label>
                                </div>
                                <div data-ng-messages="form.password.$error" data-ng-if="form.password.$dirty"
                                     role="alert" class="help-block animated fadeInDown">
                                    <ng-messages-include
                                            src="assets/views/common/error_messages.html"></ng-messages-include>
                                </div>
                            </div>
                        </div>
                        <div class="has-error push-20">
                            <span class="help-block animated fadeInDown" data-ng-repeat="error in errors">{{error.message}}</span>
                        </div>
                        <div class="form-group remove-margin-b">
                            <div class="col-xs-12 col-sm-6 col-md-5">
                                <button class="btn btn-block btn-primary" type="submit"
                                        data-ng-disabled="form.$invalid || submitting">
                                    <span data-ng-if="!submitting"><i class="fa fa-sign-in fa-lg pull-right"></i>Войти</span>
                                    <span data-ng-if="submitting"><i class="fa fa-sun-o fa-spin"></i></span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- END Login Form -->
                </div>
            </div>
            <!-- END Login Block -->
        </div>
    </div>
</div>
<!-- END Login Content -->
