<div class="page-body page-body-dashboard">
    <div data-ng-if="scope.isSectionTransactions()">
        <ng-include src="'assets/views/partials/dashboard/mobile/transactions/list.html'"></ng-include>
    </div>
    <div data-ng-if="scope.isSectionBalance()">
        <ng-include src="'assets/views/partials/dashboard/mobile/balance.html'"></ng-include>
    </div>
    <div data-ng-if="scope.isSectionStats()">
        <ng-include src="'assets/views/partials/dashboard/widgets.html'"></ng-include>
        <ng-include src="'assets/views/partials/dashboard/charts/body.html'"></ng-include>
    </div>
</div>
