<div class="background-overlay overlay" data-ng-if="balance.adjusted">
    <div class="alert-box">
        <div class="header">
            <h2>Корректировка остатка</h2>
        </div>
        <div class="body c-overflow">
            <form id="form" name="form" data-ng-submit="balance.adjustment.submit()" autofocus>

                <!--NEW BALANCE-->
                <label>Введите актуальный остаток на счете {{balance.adjustment.account.name}}</label>

                <div class="input-group">
                    <div class="fg-line">
                        <input type="text" class="form-control input-sm number" data-ng-model="balance.adjustment.newBalance"
                               name="newBalance" placeholder="0.00" autofocus required>
                    </div>
                    <span class="input-group-addon last">{{balance.adjustment.currency.symbol}}</span>
                </div>

                <div class="has-error">
                    <div data-ng-messages="form.newBalance.$error" data-ng-if="form.newBalance.$dirty"
                         role="alert" class="help-block animated fadeInDown">
                        <ng-messages-include
                                src="assets/views/partials/error-messages.html"></ng-messages-include>
                    </div>
                </div>
                <!--end NEW BALANCE-->

                <div class="has-error">
                    <div data-ng-repeat="error in balance.adjustment.errors">
                        <div class="help-block">{{error.message}}</div>
                    </div>
                </div>

            </form>
        </div>
        <div class="footer">
            <button class="btn bgm-teal btn-sm" type="submit" form="form"
                    data-ng-disabled="form.$invalid || balance.adjustment.submitting">
                <span>Скорректировать</span>
                <span data-ng-if="balance.adjustment.submitting">
                    <i class="fa fa-sun-o icon-spin animated fadeIn"></i>
                </span>
            </button>
            <button class="btn btn-link btn-sm" data-ng-click="balance.adjustment.close()">Отмена</button>
        </div>
    </div>
</div>