<ul class="main-menu" data-ng-if="!sidebar.profileMenu.opened">
    <li class="divider"></li>
    <li data-ui-sref-active="active" menu-item>
        <a data-ui-sref="dashboard" data-ng-click="sidebar.close()">
            <i class="zmdi zmdi-home"></i> Панель управления
        </a>
    </li>
    <li class="sub-menu">
        <a href="" toggle-submenu><i class="zmdi zmdi-balance-wallet"></i> Операции</a>
        <ul>
            <li menu-item>
                <a data-ui-sref-active="active" data-ui-sref="transactions.list"
                   data-ng-click="sidebar.close()">
                    <i class="zmdi zmdi-receipt"></i> Записи
                </a>
            </li>
            <li menu-item>
                <a data-ui-sref-active="active" data-ui-sref="transactions.templates"
                   data-ng-click="sidebar.close()">
                    <i class="zmdi zmdi-copy"></i> Шаблоны
                </a>
            </li>
        </ul>
    </li>
    <li data-ui-sref-active="active" menu-item>
        <a data-ui-sref="accounts" data-ng-click="sidebar.close()">
            <i class="zmdi zmdi-card"></i> Счета
        </a>
    </li>
    <li data-ui-sref-active="active" menu-item>
        <a data-ui-sref="categories" data-ng-click="sidebar.close()">
            <i class="zmdi zmdi-view-headline"></i> Категории
        </a>
    </li>
    <li data-ui-sref-active="active" menu-item>
        <a data-ui-sref="currencies" data-ng-click="sidebar.close()">
            <i class="zmdi zmdi-money"></i> Валюты
        </a>
    </li>

    <li class="sub-menu">
        <a href="" toggle-submenu><i class="zmdi zmdi-shopping-basket"></i> Продажи</a>
        <ul>
            <li menu-item>
                <a data-ui-sref-active="active" data-ui-sref="sales.orders"
                   data-ng-click="sidebar.close()">
                    <i class="zmdi zmdi-shopping-cart"></i> Заказы
                </a>
            </li>
            <li menu-item>
                <a data-ui-sref-active="active" data-ui-sref="sales.sizes"
                   data-ng-click="sidebar.close()">
                    <i class="zmdi zmdi-format-size"></i> Размеры
                </a>
            </li>
            <li menu-item>
                <a data-ui-sref-active="active" data-ui-sref="sales.sizes1"
                   data-ng-click="sidebar.close()">
                    <i class="zmdi zmdi-mall"></i> Бренды
                </a>
            </li>
            <li menu-item>
                <a data-ui-sref-active="active" data-ui-sref="sales.sizes2"
                   data-ng-click="sidebar.close()">
                    <i class="zmdi zmdi-accounts"></i> Источники
                </a>
            </li>
        </ul>
    </li>
</ul>
