<div class="row">
    <div class="col-sm-6">
        <ng-include src="'assets/views/partials/dashboard/charts/expense-pie.html'"></ng-include>
    </div>
    <div class="col-sm-6">
        <ng-include src="'assets/views/partials/dashboard/charts/income-pie.html'"></ng-include>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <ng-include src="'assets/views/partials/dashboard/charts/watchlist.html'"></ng-include>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <ng-include src="'assets/views/partials/dashboard/charts/turnover-column.html'"></ng-include>
    </div>
</div>
