<div class="card card-chart" data-ng-class="{ 'full-screen': scope.charts.incomePie.fullScreen }">

    <div class="card-header card-header-two-rows">
        <h2 class="text-center">Доходы</h2>

        <div class="date-toolbar">
                <span>
                    <button class="dt-btn" data-ng-click="scope.charts.incomePie.moveMonth(-1)">
                        <i class="zmdi zmdi-chevron-left"></i>
                    </button>
                    <h2>{{scope.charts.incomePie.getDisplayMonth()}}</h2>
                    <button class="dt-btn" data-ng-click="scope.charts.incomePie.moveMonth(1)">
                        <i class="zmdi zmdi-chevron-right"></i>
                    </button>
                </span>
        </div>

        <ul class="actions">
            <li>
                <a href="" uib-tooltip="Во весь экран" data-ng-click="scope.charts.incomePie.toggleFullScreen()">
                    <i class="zmdi"
                       data-ng-class="{ 'zmdi-fullscreen':!scope.charts.incomePie.fullScreen,
                                        'zmdi-fullscreen-exit':scope.charts.incomePie.fullScreen }"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <div class="chart" hc-pie-chart data="scope.charts.incomePie.data" color-set="income"
             show-labels="scope.charts.incomePie.fullScreen"
             data-ng-if="!scope.charts.incomePie.loading && !scope.charts.incomePie.error"></div>
        <div class="text-center" data-ng-if="scope.charts.incomePie.loading">
            <ng-include src="'assets/views/partials/loaders/loading.html'"></ng-include>
        </div>
        <div class="text-center p-b-10 has-error" data-ng-if="scope.charts.incomePie.error">
            <div>Произошла ошибка...</div>
            <button class="btn bgm-teal btn-sm m-t-10" data-ng-click="scope.charts.incomePie.update()">Повторить
            </button>
        </div>
    </div>

</div>