<!-- Sign Up Content -->
<div class="content overflow-hidden" data-ng-controller="SignupCtrl">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <!-- Sign Up Block -->
            <div class="block block-themed animated fadeIn">
                <div class="block-header bg-primary">
                    <ul class="block-options">
                        <li>
                            <a data-ui-sref="login" data-uib-tooltip="Войти" data-tooltip-placement="left"><i
                                    class="fa fa-sign-in fa-lg"></i></a>
                        </li>
                    </ul>
                    <h3 class="block-title">Регистрация</h3>
                </div>
                <div class="block-content block-content-full block-content-narrow">
                    <!-- Sign Up Title -->
                    <h1 class="h2 font-w600">Money Control</h1>

                    <p>Укажите, пожалуйста, информацию, необходимую для создания аккаунта</p>
                    <!-- END Sign Up Title -->

                    <!-- Sign Up Form -->
                    <form class="form-horizontal push-30-t" name="form" data-ng-submit="signup(user)">
                        <div data-ng-class="{'has-error': form.email.$invalid && form.email.$dirty}"
                             class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material form-material-primary floating">
                                    <input class="form-control" type="email" id="email" name="email"
                                           data-ng-model="user.email" data-ng-maxlength="255" required autofocus>
                                    <label for="email">Email</label>
                                </div>
                                <div data-ng-messages="form.email.$error" data-ng-if="form.email.$dirty"
                                     role="alert" class="help-block animated fadeInDown">
                                    <ng-messages-include
                                            src="assets/views/common/error_messages.html"></ng-messages-include>
                                </div>
                            </div>
                        </div>
                        <div data-ng-class="{'has-error': form.username.$invalid && form.username.$dirty}"
                             class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material form-material-primary floating">
                                    <input class="form-control" type="text" id="username" name="username"
                                           data-ng-model="user.username" data-ng-minlength="2" data-ng-maxlength="255"
                                           required autofocus>
                                    <label for="username">Имя</label>
                                </div>
                                <div data-ng-messages="form.username.$error" data-ng-if="form.username.$dirty"
                                     role="alert" class="help-block animated fadeInDown">
                                    <ng-messages-include
                                            src="assets/views/common/error_messages.html"></ng-messages-include>
                                </div>
                            </div>
                        </div>
                        <div data-ng-class="{'has-error': form.password.$invalid && form.password.$dirty}"
                             class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material form-material-primary floating">
                                    <input class="form-control" type="password" id="password" name="password"
                                           data-ng-model="user.password" data-ng-minlength="6" data-ng-maxlength="255"
                                           required>
                                    <label for="password">Пароль</label>
                                </div>
                                <div data-ng-messages="form.password.$error" data-ng-if="form.password.$dirty"
                                     role="alert" class="help-block animated fadeInDown">
                                    <ng-messages-include
                                            src="assets/views/common/error_messages.html"></ng-messages-include>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label class="css-input switch switch-sm switch-primary">
                                    <input type="checkbox" id="agree-terms" name="terms" data-ng-model="user.agreeTerms"
                                           required><span></span> Я согласен с правилами сервиса
                                </label>
                                <button class="btn btn-link font-w400 text-primary" data-toggle="modal"
                                        data-target="#modal-terms" type="button"
                                        data-uib-tooltip="Показать правила" data-tooltip-placement="top">
                                    <i class="fa fa-lightbulb-o fa-lg"></i>
                                </button>
                            </div>
                        </div>
                        <div class="has-error push-20">
                            <span class="help-block animated fadeInDown" data-ng-repeat="error in errors">{{error.message}}</span>
                        </div>
                        <div class="form-group remove-margin-b">
                            <div class="col-xs-12 col-sm-6 col-md-5">
                                <button class="btn btn-block btn-primary" type="submit"
                                        data-ng-disabled="form.$invalid || !user.agreeTerms || submitting">
                                    <span data-ng-if="!submitting"><i class="fa fa-user-plus fa-lg pull-right"></i>Создать</span>
                                    <span data-ng-if="submitting"><i class="fa fa-sun-o fa-spin"></i></span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- END Sign Up Form -->
                </div>
            </div>
            <!-- END Sign Up Block -->
        </div>
    </div>
</div>
<!-- END Sign Up Content -->

<!-- Terms Modal -->
<div data-ng-include="'assets/views/auth/terms_and_conditions.html'"></div>
<!-- END Terms Modal -->

