<div class="card">
    <div class="card-header">
        <h2 data-ng-if="scope.orderStatus.isNew()">Создание статуса</h2>

        <h2 data-ng-if="!scope.orderStatus.isNew()">{{scope.orderStatus.name}}</h2>

        <ul class="actions">
            <li data-ng-if="!scope.orderStatus.isNew()" uib-tooltip="Удалить">
                <a href="" data-ng-click="scope.orderStatus.delete()">
                    <i class="zmdi zmdi-delete"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body card-padding">

        <form id="form" name="form" data-ng-submit="scope.orderStatus.save()"
              data-autofocus="{{scope.orderStatus.isNew()}}">

            <div class="row">
                <div class="col-xs-8">

                    <!--NAME-->
                    <div class="form-group fg-line">
                        <label>Название</label>
                        <input type="text" class="form-control input-sm autofocus" data-ng-model="scope.orderStatus.name"
                               name="name" placeholder="Название" data-ng-maxlength="255" required>
                    </div>

                    <div class="has-error">
                        <div data-ng-messages="form.name.$error" data-ng-if="form.name.$dirty"
                             class="help-block animated fadeInDown">
                            <ng-messages-include src="assets/views/partials/error-messages.html"></ng-messages-include>
                        </div>
                    </div>
                    <!--end NAME-->

                </div>
                <div class="col-xs-4">

                    <!--AS CLOSED-->
                    <div class="checkbox m-t-30 p-t-5">
                        <label>
                            <input type="checkbox" class="checker select-box"
                                   data-ng-model="scope.orderStatus.asClosed">
                            <i class="input-helper"></i>
                            Считать заказ закрытым
                        </label>
                    </div>
                    <!--end AS CLOSED-->

                </div>
            </div>

            <div class="row">
                <div class="col-xs-1">

                    <!--COLOR-->
                    <div class="form-group fg-line">
                        <label>Цвет</label>
                        <div data-ng-click="scope.colorpicker.open()">
                            <div class="color-container" data-ng-style="{ 'background-color': scope.orderStatus.noColor ? 'transparent' : scope.orderStatus.color }"></div>
                        </div>
                    </div>
                    <!--end COLOR-->

                </div>
                <div class="col-xs-11">

                    <!--NO COLOR-->
                    <div class="checkbox m-t-30 p-t-5">
                        <label>
                            <input type="checkbox" class="checker select-box"
                                   data-ng-model="scope.orderStatus.noColor">
                            <i class="input-helper"></i>
                            Не выделять цветом
                        </label>
                    </div>
                    <!--end NO COLOR-->

                </div>
            </div>

            <!--ICON-->
            <div class="form-group fg-line">
                <label>Иконка</label>
                <div data-ng-click="scope.iconpicker.open()">
                    <div class="icon-container">
                        <i class="{{scope.orderStatus.icon}}"></i>
                        <i class="zmdi zmdi-close" data-ng-if="scope.orderStatus.icon == ''"></i>
                    </div>
                </div>
            </div>
            <!--end ICON-->

            <div class="has-error">
                <div data-ng-repeat="error in scope.orderStatus.errors">
                    <div class="help-block">{{error.message}}</div>
                </div>
            </div>

        </form>

        <div class="card-control-panel">
            <button class="btn bgm-teal btn-sm" type="submit" form="form"
                    data-ng-disabled="form.$invalid || scope.orderStatus.submitting">
                <span>Сохранить</span>
                <span data-ng-if="scope.orderStatus.submitting">
                    <i class="fa fa-sun-o icon-spin animated fadeIn"></i>
                </span>
            </button>
            <button class="btn btn-link btn-sm" data-ng-click="scope.cancelEditing()">Отмена</button>
        </div>

    </div>
</div>