<p>ВХОД</p>

<form name="form" data-ng-submit="login(user)">

    <!--EMAIL-->
    <div class="input-group">
        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>

        <div class="fg-line">
            <input type="email" class="form-control" data-ng-model="user.email" name="email"
                   autofocus="autofocus" placeholder="Email" required>
        </div>
    </div>

    <div class="has-error m-b-20">
        <div data-ng-messages="form.email.$error" data-ng-if="form.email.$dirty"
             role="alert" class="help-block animated fadeInDown">
            <ng-messages-include
                    src="assets/views/partials/error-messages.html"></ng-messages-include>
        </div>
    </div>
    <!--end EMAIL-->

    <!--PASSWORD-->
    <div class="input-group">
        <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>

        <div class="fg-line">
            <input type="password" class="form-control" data-ng-model="user.password" name="password"
                   placeholder="Пароль" required>
        </div>
    </div>

    <div class="has-error m-b-20">
        <div data-ng-messages="form.password.$error" data-ng-if="form.password.$dirty"
             role="alert" class="help-block animated fadeInDown">
            <ng-messages-include
                    src="assets/views/partials/error-messages.html"></ng-messages-include>
        </div>
    </div>
    <!--end PASSWORD-->

    <button class="btn btn-link btn-block btn-xs" data-ng-click="loginDemo()">Войти в демо-аккаунт</button>

    <!--SUBMIT-->
    <ng-include src="'assets/views/partials/auth/block-submit.html'"></ng-include>
    <!--end SUBMIT-->

    <!--ERRORS-->
    <ng-include src="'assets/views/partials/auth/block-errors.html'"></ng-include>
    <!--end ERRORS-->

</form>

<ul class="login-navigation">
    <li class="bgm-red" data-ui-sref="signup">Регистрация</li>
    <li class="bgm-orange" data-ui-sref="forgotPassword">Забыли пароль?</li>
</ul>